name : 02 - Workflow events

on: 
    push:
    workflow_dispatch:
    pull_request:

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the trigger
              run: echo "I've been triggered from a(n) ${{github.event_name}} event ."
